<!DOCTYPE html>
<html>
<body>
<div class = "barraDeIconos" >
        <a href="/descuentos" class="navbar-brand"><i class="fa fa-percentage"></i> DESCUENTOS</a>
        <a href="bonificaciones" class="navbar-brand"><i class="fa fa-gift"></i> BONIFICACIONES</a>
      </div>


<p class="aligncenter">

<img src="static/img/sondabanner.png" width="70%" height="30%">

</p>


</body>
</html>