<body>

  <div class="barraDeIconos">
    <a href="/descuentos" class="navbar-brand">DESCUENTOS</a>
    <a href="bonificaciones" class="navbar-brand active">BONIFICACIONES</a>
  </div>


  <div class="d-flex mb-3" style="margin-top: 2%;">


    <form method="POST" action="http://localhost:5000/upload" enctype="multipart/form-data" style="margin-top: 12%; margin-left: 2%;" target="hiddenFrame">
      <div class="form-group">
        <div class="input-group input-file" name="uploadedFile">
          <span class="input-group-btn">
            <button class="btn btn-dark btn-choose" type="button"><i class="fa fa-folder"></i> Archivo</button>
          </span>
          <input type="text" class="form-control" placeholder='Choose a file...' />
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-dark pull-right" id="btnSend" style="width: 100%;">Submit</button>
      </div>
    </form>


   
    <div class="flex-grow-1 container mb-3 mt-3" style="margin-bottom: 10%; margin-right: 2%;">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="nombreBonificacion" class="">Nombre:</label>
            <input type="text" class="form-control" id="nombreBonificacion">
          </div>
          <div class="form-group col-md-3">
            <label for="chanelsList">Canal:</label>
            <select class="form-control" id="chanelsList" name="chanels">
              <option selected>Canal</option>
              <option value="Detalle">Detalle</option>
              <option value="Mayoreo">Mayoreo</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="bonificationsList">Tipo:</label>
            <select class="form-control" id="bonificationsList" name="bonificationType">
              <option selected>Tipo</option>
              <option value="BONUS_BY_COMBO">BONO POR COMBO</option>
              <option value="BONUS_BY_MULTIPLE">BONO POR MULTIPLO</option>
              <option value="BONUS_BY_SCALE">BONO POR ESCALA</option>
            </select>
          </div>
      
          <div class="col-md-2">

             <label for="inputState"></label><label for="inputState"></label>
            <button id="download" class="btn btn-dark" style="width: 100%;" onclick="document.getElementById('link').click()">Descargar Plantilla</button>
      <a id="link" href="static/csv/Bonificaciones.csv"></a>
          </div>
        </div>
      </form>

      {{!-- <button class="btn btn-dark" style="width: 100%;" onclick="document.getElementById('link').click()">Descargar Plantilla</button>
      <a id="link" href="static/csv/Bonificaciones.csv"></a> --}}
   
      <table class="table table-stripped table-bordered mydatatable" style="width: 100%">
        <thead>
          <tr id="customtr">
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr id="customtr">
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
          </tr>
          <tr id="customtr">
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
          </tr>
          <tr id="customtr">
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
          </tr>
          <tr id="customtr">
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2012/03/29</td>
            <td>$433,060</td>
          </tr>
          <tr id="customtr">
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>33</td>
            <td>2008/11/28</td>
            <td>$162,700</td>
          </tr>
          <tr id="customtr">
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>61</td>
            <td>2012/12/02</td>
            <td>$372,000</td>
          </tr>
          <tr id="customtr">
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>59</td>
            <td>2012/08/06</td>
            <td>$137,500</td>
          </tr>
          <tr id="customtr">
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
          </tr>
          <tr id="customtr">
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>39</td>
            <td>2009/09/15</td>
            <td>$205,500</td>
          </tr>
          <tr id="customtr">
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>23</td>
            <td>2008/12/13</td>
            <td>$103,600</td>
          </tr>
          <tr id="customtr">
            <td>Jena Gaines</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>30</td>
            <td>2008/12/19</td>
            <td>$90,560</td>
          </tr>
          <tr id="customtr">
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2013/03/03</td>
            <td>$342,000</td>
          </tr>
          <tr id="customtr">
            <td>Charde Marshall</td>
            <td>Regional Director</td>
            <td>San Francisco</td>
            <td>36</td>
            <td>2008/10/16</td>
            <td>$470,600</td>
          </tr>
        </tbody>
        <tfoot>
          <tr id="customtr">
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
 <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

   <script>
    $('.mydatatable').DataTable();

    
    function bs_input_file() {
      $(".input-file").before(
        function () {
          if (!$(this).prev().hasClass('input-ghost')) {
            var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
            element.attr("name", $(this).attr("name"));
            element.change(function () {
              element.next(element).find('input').val((element.val()).split('\\').pop());
            });
            $(this).find("button.btn-choose").click(function () {
              element.click();
            });
            $(this).find("button.btn-reset").click(function () {
              element.val(null);
              $(this).parents(".input-file").find('input').val('');
            });
            $(this).find('input').css("cursor", "pointer");
            $(this).find('input').mousedown(function () {
              $(this).parents('.input-file').prev().click();
              return false;
            });
            return element;
          }
        }
      );
    }
    $(function () {
      bs_input_file();
    });

     $(document).ready(function() {
    $("#btnSend").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      setTimeout(function() {
         $(this).prop("reset", true);
   }, 2000);
    });
});


document.getElementById("download").addEventListener("click", function(event){
  event.preventDefault()
});
  </script>

</body>