<body>

  <div class="barraDeIconos">
    <a href="/descuentos" class="navbar-brand active">DESCUENTOS</a>
    <a href="bonificaciones" class="navbar-brand">BONIFICACIONES</a>
  </div>


  <div class="d-flex mb-3" style="margin-top: 2%;">

    <form {{!-- method="POST" action="#" enctype="multipart/form-data" --}} style="margin-top: 12%; margin-left: 2%;">
      <div class="form-group">
        <div class="input-group input-file" name="Fichier1">
          <span class="input-group-btn">
            <button class="btn btn-dark btn-choose" type="button"><i class="fa fa-folder"></i> Archivo</button>
          </span>
          <input type="text" class="form-control" placeholder='Escoger archivo...' />
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-dark" id="btnSend" style="width: 100%;" onclick="loadDiscounts()">Subir</button>
      </div>
    </form>

    <div class="flex-grow-1 mb-3 mt-3" style="margin-bottom: 10%; margin-right: 2%; margin-left: 3%;">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="nombreDescuento" class="">Nombre:</label>
            <input type="text" class="form-control" id="nombreDescuento">
          </div>
          <div class="form-group col-md-3">
            <label for="chanelsList">Canal:</label>
            <select class="form-control" id="chanelsList" name="chanels">
              <option selected>Canal</option>
              <option value="Detalle">Detalle</option>
              <option value="Mayoreo">Mayoreo</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="bonificationsList">Tipo:</label>
            <select class="form-control" id="bonificationsList" name="bonificationType">
              <option selected>Tipo</option>
              <option value="DISCOUNT_BY_GENERAL_AMOUNT">DESCUENTO POR MONTO GENERAL</option>
              <option value="DISCOUNT_BY_GENERAL_AMOUNT_AND_FAMILY">DESCUENTO POR MONTO GENERAL Y FAMILIA</option>
              <option value="DISCOUNT_BY_SCALE">DESCUENTO POR ESCALA</option>
            </select>
          </div>

          <div class="col-md-2">

            <label for="inputState"></label><label for="inputState"></label>
            <button id="download" class="btn btn-dark" style="width: 100%;"
              onclick="document.getElementById('link').click()">Descargar Plantilla</button>
            <a id="link" href="static/csv/Descuentos.csv"></a>
          </div>
        </div>
      </form>

      <div>
       <table class="table table-stripped table-bordered mydatatable" style="width: 100%" id="discountTable">
          <thead id="thead">
            <tr id="customtr">
              <th>Codigo SKU</th>
              <th>Unidades por fardo</th>
              <th>Unidad de Paquete</th>
              <th>Limite inferior</th>
              <th>Limite superior</th>
              <th>Descuento</th>
              <th>ID de promocion</th>
              <th>ID de promocion</th>
              <th>Tipo de promocion</th>
              <th>Tipo de Descuento</th>
            </tr>
          </thead>
          <tbody>
          {{!-- Información de la tabla --}}
          </tbody>
          <tfoot>
            <tr id="customtr">
              <th>Codigo SKU</th>
              <th>Unidades por fardo</th>
              <th>Unidad de Paquete</th>
              <th>Limite inferior</th>
              <th>Limite superior</th>
              <th>Descuento</th>
              <th>ID de promocion</th>
              <th>ID de promocion</th>
              <th>Tipo de promocion</th>
              <th>Tipo de Descuento</th>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>

  <script>
  //Inicializar tabla
    var descuentos = $('.mydatatable').DataTable({
      dataSrc:"",
       language: {
            url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" //Archivo de idioma
        }
    });

//Estilo y funcionamiento de boton de cargar archivo
    function bs_input_file() {
      $(".input-file").before(
        function () {
          if (!$(this).prev().hasClass('input-ghost')) {
            var element = $("<input id='load-csv' type='file' accept='.csv' class='input-ghost' style='visibility:hidden; height:0'>");
            element.attr("name", $(this).attr("name"));
            element.change(function (e) {
              element.next(element).find('input').val((element.val()).split('\\').pop());
              if (!e.target.files.length) {
                console.log("Please choose a csv file...");
                return
              }else{
                console.log("archivo");
                const file = e.target.files[0];
                Papa.parse(file, { //origin del archivo
                    download: true,
                    complete: function(example) {
                        console.log(example.data) //imprimir array con los datos en la consola
                        descuentos.clear().draw(); //limpiar la tabla   
                        descuentos.rows.add(example.data.slice(1,-2)).draw();  //mostrar datos en la tabla
                    }
                });
                return
              }
            });
            $(this).find("button.btn-choose").click(function () {
              element.click();
            });
            $(this).find("button.btn-reset").click(function () {
              element.val(null);
              $(this).parents(".input-file").find('input').val('');
            });
            $(this).find('input').css("cursor", "pointer");
            $(this).find('input').mousedown(function () {
              $(this).parents('.input-file').prev().click();
              return false;
            });
            return element;
          }
        }
      );
    }
    $(function () {
      bs_input_file();
    });

//Evitar recarga de pagina al precional los botones de los formularios
    document.getElementById("download").addEventListener("click", function (event) {
      event.preventDefault()
    });
    document.getElementById("btnSend").addEventListener("click", function (event) {
      event.preventDefault()
    });

//Cargar datos de archivo a la tabla
function loadDiscounts() {
      Papa.parse("static/csv/formato.csv", { //origin del archivo
          download: true,
          complete: function(example) {
              console.log(example.data) //imprimir array con los datos en la consola
              descuentos.clear().draw(); //limpiar la tabla
              descuentos.rows.add(example.data).draw();  //mostrar datos en la tabla
          }
      });
  };




$(document).ready(function () {
  $('#btnClear').click(function() {
     descuentos.clear().draw();
  });
});


  </script>


</body>