<body>

  <div class="barraDeIconos">
    <a href="/descuentos" class="navbar-brand">DESCUENTOS</a>
    <a href="bonificaciones" class="navbar-brand active">BONIFICACIONES</a>
  </div>


   <form id='data'>

    <div class="d-flex mb-3" style="margin-top: 2%;">

      {{!-- <form id='data' style="margin-top: 12%; margin-left: 2%;"> --}}

      <div style="margin-top: 12%; margin-left: 2%;">
        <div class="form-group">
          <div class="input-group input-file" name="uploadedFile">
            <span class="input-group-btn">
              <button class="btn btn-dark btn-choose" type="button"><i class="fa fa-folder"></i> Archivo</button>
            </span>
            <input type="text" class="form-control" placeholder='Escoger archivo...' />
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark" id="btnSend" style="width: 100%;" disabled>Subir</button>
        </div>
      </div>
      
      {{!-- </form> --}}

      <div class="flex-grow-1 mb-3 mt-3" style="margin-bottom: 10%; margin-right: 2%; margin-left: 3%;">
        {{!-- <form> --}}
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nombreDescuento" class="">Nombre:</label>
              <input type="text" class="form-control" id="nombreDescuento" name="name" required>
            </div>
            <div class="form-group col-md-3">
              <label for="chanelsList">Canal:</label>
              <select class="form-control" id="chanelsList" name="chanels" required>
                <option value='' disabled selected>Canal</option>
                <option value="Detalle">Detalle</option>
                <option value="Mayoreo">Mayoreo</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="bonificationsList">Tipo:</label>
              <select class="form-control" id="bonificationsList" name="bonificationType" required>
                <option value='' disabled selected>Tipo</option>
                <option value="DISCOUNT_BY_GENERAL_AMOUNT">DESCUENTO POR MONTO GENERAL</option>
                <option value="DISCOUNT_BY_GENERAL_AMOUNT_AND_FAMILY">DESCUENTO POR MONTO GENERAL Y FAMILIA</option>
                <option value="DISCOUNT_BY_SCALE">DESCUENTO POR ESCALA</option>
              </select>
            </div>

            <div class="col-md-2">

              <label for="inputState"></label><label for="inputState"></label>
              <button id="download" class="btn btn-dark" style="width: 100%;"
                onclick="document.getElementById('link').click()">Descargar Plantilla</button>
              <a id="link" href="static/csv/Descuentos.csv"></a>
            </div>
          </div>
        {{!-- </form> --}}

        <div>
                 <table class="table table-stripped table-bordered mydatatable" style="width: 100%" id="discountTable">
            <thead id="thead">
              <tr id="customtr">
                <th>Codigo SKU</th>
                <th>Unidades por fardo</th>
                <th>Unidad de Paquete</th>
                <th>Limite inferior</th>
                <th>Limite superior</th>
                <th>Descuento</th>
                <th>ID de promocion</th>
                <th>ID de promocion</th>
                <th>Tipo de promocion</th>
                <th>Tipo de Descuento</th>
              </tr>
            </thead>
            <tbody>
            {{!-- Información de la tabla --}}
            </tbody>
            <tfoot>
              <tr id="customtr">
                <th>Codigo SKU</th>
                <th>Unidades por fardo</th>
                <th>Unidad de Paquete</th>
                <th>Limite inferior</th>
                <th>Limite superior</th>
                <th>Descuento</th>
                <th>ID de promocion</th>
                <th>ID de promocion</th>
                <th>Tipo de promocion</th>
                <th>Tipo de Descuento</th>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>

  </form>


 <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

  <script type="text/javascript" src="static/js/script.js"></script>

</body>
